#container{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.user-pane{
  display: flex;
  height: 100%;
  width: 15%;
}

.users-list{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  background: #324fff;
}

.message-pane{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85%;
}

.message-list{
  /* display: flex; */
  margin: 0;
  height: 85%;
  width: 100%;
  background: #7f3;
  overflow: auto;
}

.add-message{
  display: flex;
  height: 15%;
  width: 100%;
  background: #a41;
}