#container{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.user-pane{
  display: flex;
  height: 100%;
  width: 15%;
}

.users-list{
  /* display: flex; */
  height: 100%;
  width: 100%;
  margin: 0;
  background: #324fff;
  overflow: auto;
  text-decoration: none;
  list-style: none;
}

.users-list > .user-name{
  cursor: default;
  margin-bottom: 1em; 
}

.users-list > .user-name:first-child{
  margin-top: 2em;
}

/* .users-list > .user-name:hover{
  text-decoration: underline; 
} */

.users-list > .user-name.selected{
  background: lightseagreen;
}

.message-pane{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85%;
}

.message-list{
  /* display: flex; */
  margin: 0;
  height: 85%;
  width: 100%;
  background: #7f3;
  overflow: auto;
  list-style: none;
}

.add-message{
  display: flex;
  height: 15%;
  width: 100%;
  background: #a41;
}