.msg-container{
margin: 0;
  height: 90%;
  width: 100%;
  overflow: auto;
}
.message-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 3em;
    margin: 2em 0;
}